# Ignore the following files and directories when using git. This is a standard .gitignore file for a project.
old_data/
data/ncbi_genome_downloads/zipped/
data/ncbi_genome_downloads/*/

## scripts
scripts/data_process/old_data_background_preprocessing.md
scripts/gene_seq_alignement/filter_common_genes.py