# Ignore the following files and directories when using git. This is a standard .gitignore file for a project.

## data
old_data/
data/ncbi_genome_downloads/zipped/
data/ncbi_genome_downloads/*/

## scripts
scripts/data_process/old_data_background_preprocessing.md
scripts/gene_seq_alignment/filter_common_genes.py

## results
results/msa_macse/aa
results/msa_macse/nt/images